.blue-bar {
    width: 100%;
    display: inline-block;
    background: linear-gradient( 180deg,#ffffff00 33%,#06397e 33%, #06397e 66%, #ffffff00 66%); 
    margin-bottom:3rem;
}
main {
    max-width: 800px; 
    width: 80%; 
    height: 15.625rem; 
    margin: 2.5rem auto 1rem;    
    padding: 1rem;
    border-radius: 12px; 
    background-color: white; 
    position: relative; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.3s; 
}

main h2, p {
    color: #06397e;
}
#address{
    width: 55%; 
    display: inline-block;
    height: 100%;
    margin-bottom: 0.5rem;
}
#map-container{
    width: 40%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease; 
}
#map-container:hover{
    transform: scale(1.03); 
}

#map {
    display: inline-block; 
    width: 100%;
    height: auto; 
    border: 1px solid black;
}


/* ad new */
.ad-container, .ad-banner{
    display: flex;
    margin: auto;
    width: 80%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    animation: dotted-ads 1s infinite linear;
}
.ad-banner{
    background-color: #42728d;
    color: white;
    text-align: left;
    height: auto;
    justify-content: center; 
    align-items: center;   
    border: dotted #06397e 5px;
    border-bottom: none;
    
}

@keyframes dotted-ads {
    0%{
        border-color: #fad12c;
    }
    50%{
        border-color: red;
    }
    100%{
        border-color: #fad12c;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#adlogo{
    float:left;  
    height:4rem;
    object-fit: scale-down;
    margin: auto 0;
}
.ad-banner .yellow{
    color: #FBD748;
}
.ad-container{
    height: 18rem;
    max-height: 30rem;
    flex-direction: row;
    background-color: white;
    border: dotted #06397e 5px;
    border-top: none;
    margin-bottom: 10px;
}
.left-ad{
    display: block;
    width: 50%;
    background-color: white;
    padding: 1rem;
    position: relative;
}
.left-ad h2{
    color: #06397e;
    font-weight: 900;
}
.left-ad p{
    font-size: 0.9rem;
    color:  black;
    font-weight: 600;
}
.left-ad h2, .left-ad p, .left-ad li{
    margin: 0;
    padding: 0 1rem;
}
.lists{
    padding: 0.5rem 0;
    padding-left:2rem;
    font-size: 0.9rem;
}
.pic-avail{
    display: flex-end;
    align-items: baseline;
    position: relative;
}
.pic-avail p{
    position: absolute;
    right: 0;
}
.left-ad img{
    width: 8rem;
    bottom: 0;
    margin-bottom: 1rem;
}

.left-ad .avail{
    display: flex-end;
    float: right;
    bottom: 0;
    font-style: italic;
    font-weight: 500;
}
.mid-ad{
    display: flex;
    width: 2.1rem;
    z-index: 1;
    background-color: #fad12c;
}
.mid-ad img{
    object-fit: cover;

} 
.right-ad{
    display: inline-flex;
    width: 50%;
}
.right-ad img{
    object-fit: cover;
    width: 100%;
}
.avail {
    display: block;
    text-align: center;
    font-weight: bold;
}
.avail:hover {
    color: #fad12c; 
}
.pic-slider {
    position: relative;
    overflow: hidden; 
    width: 100%; 
    height: auto; 
}
.slider {
    display: flex;
    animation: slide-animation 5s infinite; 
}

.slide {
    min-width: 100%; 
    transition: transform 0.5s ease; 
}

.slide img {
    margin-left: 20px;
    width: auto; 
    height: 70px; 
}

@keyframes slide-animation {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(0); } 
    36.66% { transform: translateX(-100%); } 
    66.66% { transform: translateX(-100%); } 
    69.99% { transform: translateX(-200%); } 
    100% { transform: translateX(-200%); } 
}

@media screen and (max-width: 1050px){
    .ad-container{
        height: 40rem;
    }
    main{
        height: auto;
    }
    #map-container{
        width: 70%;
    }
    #address{
        width: 100%;
        height: auto;
    }

}
@media screen and (max-width: 450px){
    .ad-container{
        height: 30rem;
    }
    .ad-banner{
        margin-top: -80px; 
    }
    
    #map-container{
        width: 90%;
    }

    .blue-bar{
        margin-bottom: 6rem;
    }
}




