.card{
    background-color: white;
    color: #06397e;
    display: block;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem 2em;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.1s; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card ul{
    margin-bottom: 0.5rem;
}
.card ul li{
    list-style: none;
    background-image: url('../images/pawprint.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2rem;
    padding-left: 2.5rem;
}
.card h1{
    display: inline;
    font-weight: 900;
    font-size: 2rem;
}
.card p{
    padding-left: 2.5rem;
    font-size: 1rem;;
}
.card .img-container{
    display: flex;
    width: 100%;
    height: 20rem;  
    padding:0;
    margin-top: 1rem;
}
.img-container img{
    width: 100%;
    object-fit: cover;
}

.img-container {
    overflow: hidden; 
}

.img-container img {
    transition: transform 0.3s ease; 
    width: 100%; 
    height: auto; 
}

.img-container:hover img {
    transform: scale(1.1); 
}

@media(max-width:600px) {
    .card h1{
        word-break: break-all;
    }
}